<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Atomboy</string>
	<key>CFBundleDisplayName</key>
	<string>Atomboy</string>
	<key>CFBundleIdentifier</key>
	<string>com.maartz.atomboy</string>
	<key>CFBundleExecutable</key>
	<string>Atomboy</string>
	<key>CFBundleIconFile</key>
	<string>Atomboy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>VERSION_ATOMBOY</string>
	<key>CFBundleVersion</key>
	<string>VERSION_ATOMBOY</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ROM Game Boy</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gb</string>
				<string>gbc</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
